    body {
        font-family: 'Lato', sans-serif;
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }
    
    h1,
    h2,
    h3,
    h4,
    a,
    p {
        margin: 0;
        padding: 0;
    }
    
    .wrapper {
        min-height: 100%;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1260px;
        padding: 0 15px;
        height: 100%;
    }
    
    .button {
        display: inline-block;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 52px;
        padding: 0 40px;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border-radius: 4px;
        color: #fff;
        white-space: nowrap;
        transition: .8s;
        text-decoration: none;
    }
    
    .button:hover {
        transform: scale(1.1);
    }
    
    .button--empty {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-image: none;
        border-left: 1.5px solid #FF3F3A;
        border-right: 1.5px solid #F75E05;
        background-image: linear-gradient(to left, #FF3F3A, #F75E05), linear-gradient(to left, #FF3F3A, #F75E05);
        background-size: 100% 1px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        background-clip: border-box;
        border-radius: 4px;
        width: 148px;
        height: 52px;
        text-align: center;
        text-decoration: none;
        color: #FF3F3A;
    }
    
    .button--empty span {
        border-image-source: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* ----------------------Общий элементы ---------------------------------------------------- */
    
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: 700;
        background: url(./resources/decor/Group\ 2.png) 30% 30% / 100% no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(255, 63, 58, .2) 100%);
    }
    
    .header__top {}
    
    .header__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    
    .header__logo {
        margin-right: 60px;
    }
    
    .logo {}
    
    .nav {
        margin-right: auto;
    }
    
    .header__nav-list {
        display: flex;
    }
    
    .header__nav-item {
        margin-right: 40px;
        list-style-type: none;
    }
    
    .header__nav-item:last-child {
        margin-right: 0px;
    }
    
    .header__nav-link {
        text-decoration: none !important;
        color: #424551;
        line-height: 1.6;
        white-space: nowrap;
        transition: all .3s;
    }
    
    .header__nav-link:hover {
        color: #FF3F3A;
    }
    
    .header__btn-box {
        display: flex;
        width: 400px;
        gap: 36px;
        align-items: center;
    }
    
    .button {}
    
    .user__image {
        padding-right: 8px;
    }
    
    .header__top-btn {
        display: flex;
        text-decoration: none;
    }
    
    .header__user-nav {
        display: flex;
        gap: 8px;
    }
    
    .header__user-btn {
        text-decoration: none;
        color: #424551;
        white-space: nowrap;
        display: flex;
        align-items: center;
        transition: all .3s;
    }
    
    .header__user-btn:hover {
        color: #FF3F3A;
    }
    /* -------------------------------------------------------------- */
    
    .header__body {
        flex-grow: 1;
    }
    
    .header__body-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .header__main {
        padding-top: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #1E212C;
    }
    
    .header__content {
        margin-right: 30px;
    }
    
    .header__play {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        gap: 18px;
        color: #1E212C;
    }
    
    .header__play:hover img {
        box-shadow: 0 0 0 20px rgb(225, 63, 58, 0.12);
        border-radius: 50%;
        transition: all 1.5s;
    }
    
    .header__title {
        width: 100%;
        max-width: 500px;
        padding-top: 24px;
        padding-bottom: 60px;
        font-weight: 900;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 1px;
        color: #1E212C;
    }
    
    .header__content-buttons {
        width: 400px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .header__images {
        width: 602px;
        height: 551px;
    }
    
    .header__row {
        padding: 190px 0 80px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__row>span {
        width: 8px;
        height: 8px;
        background: #FF3F3A;
        border-radius: 100px;
    }
    
    .header__row-item {
        display: flex;
        align-items: center;
        list-style-type: none;
        color: #1E212C;
        gap: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
    
    .header__row-item span {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
    }
    /* -------------------------------------------------------------------- */
    
    .about {
        position: relative;
        padding-top: 180px;
    }
    
    .about__inner {
        display: flex;
        padding-bottom: 180px;
    }
    
    .about__createx {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 165px;
    }
    
    .about__createx::before {
        position: absolute;
        content: "";
        top: -80px;
        right: 0;
        background: url(./resources/icon/about__icons.svg) no-repeat;
        width: 100px;
        height: 85px;
    }
    
    .about__createx-content {
        margin-right: 30px;
    }
    
    .about__heading {
        color: #1E212C;
    }
    
    .heading {}
    
    .heading__subtitle {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 10px;
    }
    
    .heading__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        padding-bottom: 50px;
    }
    
    .about__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        width: 600px;
        padding-bottom: 60px;
    }
    
    .about__text--accent {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        width: 600px;
        padding-bottom: 24px;
    }
    
    .about__btn-box {
        display: flex;
        width: 400px;
        gap: 24px;
    }
    
    .about__btn {}
    
    .button--empty {
        width: 100%;
    }
    
    .button {}
    
    .about__image {}
    /* -------------------------------------------- */
    
    .about__values {
        display: flex;
        align-items: center;
        gap: 135px;
    }
    
    .about__image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .about__row {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 55px;
    }
    
    .about__row-item {
        font-weight: 700;
        width: 100%;
        font-size: 18px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #1E212C;
    }
    
    .about__row-item span {
        font-weight: 900;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 1px;
        color: #FF3F3A;
        padding-right: 16px;
    }
    /* --------------------------------------------------------- */
    
    .directions {}
    
    .container {}
    
    .directions__inner {
        position: relative;
    }
    
    .directions__inner::before {
        position: absolute;
        content: "";
        top: 16%;
        left: -5%;
        background: url(./resources/decor/directions__icon.svg) no-repeat;
        width: 136px;
        height: 115px;
    }
    
    .directions__heading {
        padding-top: 160px;
        padding-bottom: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .heading {}
    
    .heading__subtitle {}
    
    .heading__title {}
    
    .directions__body {
        padding-bottom: 180px;
    }
    
    .directions__filter-box {
        margin-left: 30px;
        list-style: none;
        padding-bottom: 60px;
        width: 75%;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        gap: 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }
    
    .directions__filter-item {}
    
    .directions__filter-btn {
        font-family: 'Lato';
        border: none;
        border: 1px solid #9A9CA5;
        background-color: transparent;
        border-radius: 4px;
        padding: 1px 8px;
        color: #9A9CA5;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        cursor: pointer;
    }
    
    .directions__filter-btn:hover {
        background-color: #F75E05;
        color: #FFFFFF;
        border: 1px solid #F75E05;
    }
    
    .directions__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: 30px;
        width: 99%;
    }
    
    .directions__list-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        overflow: hidden;
        border-radius: 4px;
    }
    
    .directions__list-link--active {}
    
    .directions__list-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 350px;
        text-decoration: none;
    }
    
    .directions__images-box {
        border-radius: 4px;
    }
    
    .directions__images-box img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
    
    .directions__link-content {
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        border: 1px solid #E5E8ED;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .directions__link-tag {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        background: #03CEA4;
        border-radius: 4px;
        padding: 2px 8px;
        align-self: flex-start;
    }
    
    .directions__list-item--marketing .directions__link-tag {
        background-color: #03CEA4;
    }
    
    .directions__list-item--management .directions__link-tag {
        background-color: #5A87FC;
    }
    
    .directions__list-item--hr .directions__link-tag {
        background-color: #F89828;
    }
    
    .directions__list-item--design .directions__link-tag {
        background-color: #F52F6E;
    }
    
    .directions__list-item--develop .directions__link-tag {
        background-color: #7772F1;
    }
    
    .directions__link-text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #787A80;
    }
    
    .directions__list-item--empty {
        display: flex;
        justify-content: center;
        background: #F4F5F7;
        border-radius: 4px;
        height: 340px;
        align-items: center;
        margin-left: 30px;
    }
    
    .directions__list-item--empty p {
        text-align: center;
        color: #424551;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        width: 242px;
        height: 60px;
    }
    
    .directions__link-icon {
        position: relative;
        text-decoration: none;
        padding: 0 24px;
        color: #1E212C;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        height: 24px;
        transition: all .5s;
    }
    
    .directions__link-icon:hover {
        color: #FF3F3A;
    }
    
    .directions__link-icon::after {
        content: '';
        position: absolute;
        background: url(./resources/icon/Line\ \(Stroke\).png) no-repeat;
        width: 24px;
        height: 24px;
        background-position: center;
        padding-right: 10px;
    }
    /* ------------------------------------------------------- */
    
    .certificate {}
    
    .certificate__inner {
        display: flex;
        flex-direction: row;
        gap: 135px;
    }
    
    .certificate__item {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 30px;
    }
    
    .certificate__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1E212C;
    }
    
    .certificate__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        text-transform: none;
    }
    
    .certificate__description {
        width: 390px;
        font-weight: 400;
        color: #424551;
    }
    
    .certificate__images-box {
        display: flex;
        gap: 26px;
    }
    
    .certificate__image-item {
        object-fit: cover;
    }
    
    .certificate__item-image img {
        width: 600px;
        height: 500px;
    }