body {
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
.wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
  transition: 0.8s;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
}

.button--empty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: none;
  border-left: 1.5px solid #ff3f3a;
  border-right: 1.5px solid #f75e05;
  background-image: linear-gradient(to left, #ff3f3a, #f75e05),
    linear-gradient(to left, #ff3f3a, #f75e05);
  background-size: 100% 1px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  border-radius: 4px;
  width: 148px;
  height: 52px;
  text-align: center;
  text-decoration: none;
  color: #ff3f3a;
}

.button--empty span {
  border-image-source: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ----------------------Общий элементы ---------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
  background: url(./resources/decor/Group\ 2.png) 30% 30% / 100% no-repeat,
    linear-gradient(
      55.95deg,
      rgba(255, 63, 58, 0.2) 0%,
      rgba(255, 63, 58, 0.2) 100%
    );
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.logo {
}

.nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  list-style-type: none;
}

.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-link {
  text-decoration: none !important;
  color: #424551;
  line-height: 1.6;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #ff3f3a;
}

.header__btn-box {
  display: flex;
  width: 400px;
  gap: 36px;
  align-items: center;
}

.button {
}

.user__image {
  padding-right: 8px;
}

.header__top-btn {
  display: flex;
  text-decoration: none;
}

.header__user-nav {
  display: flex;
  gap: 8px;
}

.header__user-btn {
  text-decoration: none;
  color: #424551;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.header__user-btn:hover {
  color: #ff3f3a;
}
/* -------------------------------------------------------------- */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 18px;
  color: #1e212c;
}

.header__play:hover img {
  box-shadow: 0 0 0 20px rgb(225, 63, 58, 0.12);
  border-radius: 50%;
  transition: all 1.5s;
}

.header__title {
  width: 100%;
  max-width: 500px;
  padding-top: 24px;
  padding-bottom: 60px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1e212c;
}

.header__content-buttons {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__images {
  width: 602px;
  height: 551px;
}

.header__row {
  padding: 190px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__row > span {
  width: 8px;
  height: 8px;
  background: #ff3f3a;
  border-radius: 100px;
}

.header__row-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #1e212c;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
/* -------------------------------------------------------------------- */

.about {
  position: relative;
  padding-top: 180px;
}

.about__inner {
  display: flex;
  padding-bottom: 180px;
}

.about__createx {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 165px;
}

.about__createx::before {
  position: absolute;
  content: "";
  top: -80px;
  right: 0;
  background: url(./resources/icon/about__icons.svg) no-repeat;
  width: 100px;
  height: 85px;
}

.about__createx-content {
  margin-right: 30px;
}

.about__heading {
  color: #1e212c;
}

.heading {
  color: #1e212c;
}

.heading__subtitle {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 10px;
  color: #1e212c;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  padding-bottom: 50px;
  color: #1e212c;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 600px;
  padding-bottom: 60px;
}

.about__text--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  width: 600px;
  padding-bottom: 24px;
}

.about__btn-box {
  display: flex;
  width: 400px;
  gap: 24px;
}

.about__btn {
}

.button--empty {
  width: 100%;
}

.button {
}

.about__image {
}
/* -------------------------------------------- */

.about__values {
  display: flex;
  align-items: center;
  gap: 135px;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.about__row {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.about__row-item {
  font-weight: 700;
  width: 100%;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1e212c;
}

.about__row-item span {
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  padding-right: 16px;
}
/* --------------------------------------------------------- */

.directions {
}

.container {
}

.directions__inner {
  position: relative;
}

.directions__inner::before {
  position: absolute;
  content: "";
  top: 16%;
  left: -5%;
  background: url(./resources/decor/directions__icon.svg) no-repeat;
  width: 136px;
  height: 115px;
}

.directions__heading {
  padding-top: 160px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.heading {
}

.heading__subtitle {
}

.heading__title {
}

.directions__body {
  padding-bottom: 180px;
}

.directions__filter-box {
  margin-left: 30px;
  list-style: none;
  padding-bottom: 60px;
  width: 75%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.directions__filter-item {
}

.directions__filter-btn {
  font-family: "Lato";
  border: none;
  border: 1px solid #9a9ca5;
  background-color: transparent;
  border-radius: 4px;
  padding: 1px 8px;
  color: #9a9ca5;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  cursor: pointer;
}

.directions__filter-btn:hover {
  background-color: #f75e05;
  color: #ffffff;
  border: 1px solid #f75e05;
}

.directions__list {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  /* gap: 30px; */
  width: 99%;
}

.directions__list-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
}

.directions__list-link--active {
}

.directions__list-item {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  text-decoration: none;
}

.directions__images-box {
  border-radius: 4px;
}

.directions__images-box img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.directions__link-content {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  border: 1px solid #e5e8ed;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directions__link-tag {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: #03cea4;
  border-radius: 4px;
  padding: 2px 8px;
  align-self: flex-start;
}

.directions__list-item--marketing .directions__link-tag {
  background-color: #03cea4;
}

.directions__list-item--management .directions__link-tag {
  background-color: #5a87fc;
}

.directions__list-item--hr .directions__link-tag {
  background-color: #f89828;
}

.directions__list-item--design .directions__link-tag {
  background-color: #f52f6e;
}

.directions__list-item--develop .directions__link-tag {
  background-color: #7772f1;
}

.directions__link-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.directions__list-item--empty {
  display: flex;
  justify-content: center;
  background: #f4f5f7;
  border-radius: 4px;
  height: 320px;
  align-items: center;
}

.directions__list-item--empty p {
  text-align: center;
  color: #424551;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  width: 242px;
  height: 60px;
}

.directions__link-icon {
  position: relative;
  text-decoration: none;
  padding: 50px 24px;
  color: #1e212c;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  height: 24px;
  transition: all 0.5s;
}

.directions__link-icon:hover {
  color: #ff3f3a;
}

.directions__link-icon::before {
  content: "";
  top: 50%;
  left: 38%;
  position: absolute;
  background: url("./resources/icon/Line (Stroke).png") no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
  padding-right: 10px;
}
/* ------------------------------------------------------- */

.certificate {
}

.certificate__inner {
  display: flex;
  flex-direction: row;
  gap: 135px;
}

.certificate__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 30px;
}

.certificate__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}

.certificate__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-transform: none;
}

.certificate__description {
  width: 390px;
  font-weight: 400;
  color: #424551;
}

.certificate__images-box {
  display: flex;
  gap: 26px;
}
.certificate__item-image {
  max-width: 700px;
  max-height: 500px;
}
.certificate__item-image img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  background-size: 100%;
}

/* --------------------------------------------------------- */

.main__team {
}
.team {
  padding-top: 170px;
  padding-bottom: 180px;
  background: #f4f5f7;
}
.container {
}
.team__inner {
}
.team__heading {
  position: relative;
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}
.team__slider {
}
.team__slider .slick-list {
  margin: 0 -15px;
}
.team__slide {
  padding: 0 15px;
}

.team__slide-inner {
}

.team__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 48px;
  line-height: 0;
  gap: 5px;
}

.team__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.team__control:hover path {
  fill: #fff;
  width: 50px;
}

.team__control:hover {
  background-color: #ff3f3a;
  transition: all 1.5s;
  transform: scale(1.1);
}

.team__controls-prev {
}
.team__controls-next {
}

.team__image-box {
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  border-radius: 4px;
  position: relative;
  height: 340px;
  overflow: hidden;
}

.team__image img {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.team__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  transform: translateY(50%);
  transition: all 0.5s;
  cursor: pointer;
}
.team__slide:hover .team__socials {
  transform: translateY(0%);
}

.team__socils-item {
  padding-right: 20px;
}
.team__socials-link {
  line-height: 1;
  opacity: 0.5;
  transition: all 0.5s;
}
.team__socials-link:hover {
  opacity: 1;
}
.team__socials-link {
  line-height: 1;
  opacity: 0.5;
}
.team__info {
  text-align: center;
}
.team__info-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  margin-bottom: 5px;
}
.team__info-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787a80;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

.testimonials__inner {
  position: relative;
}
.testimonials__inner::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 68%;
  background: url("./resources/decor/testimetials__decor.svg") no-repeat;
  width: 90px;
  height: 50px;
}
.testimonials__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.heading {
}
.heading--text-center {
}
.testimonials__subtitle {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
.testimonials__subtitle::before {
  position: absolute;
  content: "";
  top: -50px;
  left: -650px;
  background: url("./resources/decor/testi__decor.svg") no-repeat;
  width: 150px;
  height: 150px;
}
.heading__title {
  z-index: 10;
}
.testimonials {
  background: #f4f5f7;
  position: relative;
  padding-bottom: 180px;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44.9%, -55.4%);
  background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
  width: 1971px;
  height: 816px;
}

.testimonials__inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  border-radius: 4px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
  border-radius: 4px;
}

.testimonials__slide {
  padding: 64px;
  background-color: #fff;
  border-radius: 4px;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("./resources/decor/braces.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info {
}

.testimonials__info-name {
  color: #1e212c;
  font-weight: 700;
  margin-bottom: 4px;
}

.testimonials__info-position {
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.testimonials__arrows {
  position: absolute;
  top: 151.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  border-radius: 50%;
}
.testimonials__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__arrow:hover {
  background-color: #ff3f3a;
  transition: all 1.5s;
  transform: scale(1.1);
}

.testimonials__prev {
}
.testimonials__next {
}

.testimonials__dots li {
}

.testimonials__dots .slick-dots {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
}

.testimonials__dots button {
  font-size: 0px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #b3b7bc;
  border-radius: 4px;
}
/* ------------------------------------------------------------- */

.jobs__section {
  background: #f4f5f7;
}
.container {
}
.jobs__inner {
  padding-bottom: 150px;
}
.jobs__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.heading {
}
.heading--text-center {
}
.heading__subtitle {
}
.heading__title {
}
.jobs__inner-content {
  display: flex;
}
.jobs__inner-content {
  display: flex;
  padding-bottom: 40px;
}
.jobs__inner-content:last-child {
  padding-bottom: 0px;
}
.jobs__inner-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.jobs__inner-link {
  background: url("./resources/icon/jobs__icon.png") no-repeat;
  width: 150px;
  height: 65px;
  cursor: pointer;
  opacity: 0.2;
}
.jobs__inner-link:hover {
  opacity: 1;
}
/* ----------------------------------------------------------- */

.program {
  padding-top: 120px;
  padding-bottom: 185px;
}
.main__program {
  display: flex;
  justify-content: center;
  gap: 140px;
}
.container {
}
.program__content {
}
.program__heading {
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}
.program__accerdeon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  gap: 20px;
}
.program__accerdeon-item {
}
.program__accerdeon-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  position: relative;
}
.program__accerdeon-link {
  padding-left: 40px;
  display: block;
}
.program__accerdeon-head span {
  font-weight: 400;
  color: #ff3f3a;
}
.program__accerdeon-head::before,
.program__accerdeon-head::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #ff3f3a;
  border-radius: 2px;
}
.program__accerdeon-head::after {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.program__accerdeon-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  padding-top: 16px;
}

.program__accerdeon-link--active .program__accerdeon-head::after {
  transform: rotate(0deg);
}
.program__image {
}

/* ============================================================== */
/* ============================================================== */

.main__blog {
  margin-bottom: 210px;
}
.blog {
}
.container {
}
.program__heading {
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}
.heading__title--prog {
  padding: 0;
}
.blog__btn-box {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.blog__btn {
}
.button {
}
.main__blog-inner {
}
.blog__posts-content {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.blog__posts-item {
  /* padding-right: 30px; */
}
.blog__item-link {
  display: block;
  width: 390px;
}
.blog__item-inner {
}

.blog__image-box {
  position: relative;
}

.blog__image-podcast {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  background: #ffffff;
  border-radius: 4px;
  padding: 1px 8px;
  padding-left: 26px;
}
.blog__image-video {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  background: #ffffff;
  border-radius: 4px;
  padding: 1px 8px;
  padding-left: 26px;
}
.blog__image-article {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  background: #ffffff;
  border-radius: 4px;
  padding: 1px 8px;
  padding-left: 26px;
}

.blog__image-article::before {
  display: block;
  top: 3px;
  position: absolute;
  left: 10px;
  content: "";
  background: url("./resources/icon/article__icon.svg") no-repeat;
  width: 15px;
  height: 15px;
}
.blog__image-video::before {
  display: block;
  top: 4px;
  position: absolute;
  left: 6px;
  content: "";
  background: url("./resources/icon/video__icon.svg") no-repeat;
  height: 15px;
  width: 15px;
}
.blog__image-podcast::before {
  display: block;
  top: 3px;
  position: absolute;
  left: 10px;
  content: "";
  background: url(./resources/icon/podcast__icon.svg) no-repeat;
  height: 15px;
  width: 15px;
}

.blog__item-content {
}
.blog__item-info {
  display: flex;
  padding-top: 16px;
  padding-bottom: 12px;
  gap: 10px;
  color: #787a80;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
}
.blog__info-dir {
  font-weight: 700;
}
.blog__info-date {
  position: relative;
  font-weight: 400;
  padding-left: 22px;
}
.blog__info-time {
  position: relative;
  font-weight: 400;
  padding-left: 22px;
}
.blog__info-date::before {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("./resources/icon/date__icon.svg") no-repeat;
}
.blog__info-time::before {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("./resources/icon/time__icon.svg") no-repeat;
}
.blog__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  padding-bottom: 8px;
}
.blog__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  padding-bottom: 16px;
}
.blog__item-button {
  position: relative;
  font-weight: 700;
  line-height: 160%;
  color: #1e212c;
  width: 360px;
}

.blog__item-button a {
  color: #1e212c;
}
.blog__item-button:hover a {
  color: #f75e05;
  transition: all 0.5s;
}

.blog__item-button::before {
  display: block;
  position: absolute;
  content: "";
  top: 30%;
  left: 15%;
  width: 20px;
  height: 20px;
  background: url("./resources/icon/Line (Stroke).png") no-repeat;
  cursor: pointer;
}

/* ======================================================================= */
/* ======================================================================= */

.main__contact {
}
.container {
}
.program__heading {
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 180px;
}
.contact__info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 48px;
}
.contact__info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.contact__info-item--mail {
  position: relative;
  padding-left: 30px;
}
.contact__info-item--tel {
  position: relative;
  padding-left: 30px;
}
.contact__info-item--addres {
  position: relative;
  padding-left: 30px;
}
.contact__info-item--mail::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("./resources/icon/mail__icon.svg") no-repeat;
}
.contact__info-item--tel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("./resources/icon/phone__icon.svg") no-repeat;
}
.contact__info-item--addres::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("./resources/icon/map__icon.svg") no-repeat;
}

.contact__info-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.contact__info-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1e212c;
}
.contact__socials {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.contact__socials-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
.contact__socials-icon {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact__socials-link:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.contact__info-map {
  width: 705px;
  height: 410px;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  overflow: hidden;
}

/* ============================================= */
/* ============================================= */

.questions {
}
.container {
}
.questions__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 40px;
  left: 30px;
  padding-bottom: 40px;
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}
.heading__title--prog {
}
.questions__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.questions__image-box {
}
.questions__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
.questions__form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.questions__form-item input {
  padding-left: 15px;
  width: 325px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}
.questions__form-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  padding-bottom: 10px;
}
.questions__form-message {
}
.questions__form-message textarea {
  line-height: 160%;
  color: #9a9ca5;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 15px 0 0 15px;
}
.questions__form-text--message {
  padding-bottom: 10px;
}
.questions__form-btn {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  gap: 50px;
  flex-grow: 1;
}

.questions__checkbox-label {
  display: flex;
  gap: 5px;
  line-height: 160%;
}
.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin: 6px 12px 0 0;
  cursor: pointer;
}
.questions__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.questions__form-default:checked + .questions__form-custom {
  background: url("./resources/icon/check.svg") no-repeat, #ff3f3a;
  background-position: 50% 50%;
}
.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ff3f3a;
  border-radius: 3px;
}
.questions__form-button {
  width: 340px;
  text-align: center;
}
.button {
}
/* =================================================================== */
/* =================================================================== */

.footer {
  background: #1e212c;
}
.container {
}
.main__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 63px;
}
.main__footer-inner {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.main__footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__footer-socials {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main__footer-logo {
}
.footer__socials-text {
  width: 279px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  padding-bottom: 20px;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.footer__socials-item {
  opacity: 0.6;
}
.footer__socials-item:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  opacity: 1;
}
.footer__anchor {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__anchor-text {
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
}
.footer__anchor-link {
  color: #ffffff;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer__anchor-link:hover {
  opacity: 1;
  transition: all 0.5s;
}
.footer__courses {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 120px;
}
.footer__courses-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
}
.footer__courses-link {
  color: #ffffff;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}
.footer__courses-link:hover {
  opacity: 1;
  transition: all 0.5s;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__contact-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_contact-link {
  color: #ffffff;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}
.footer_contact-link:hover {
  opacity: 1;
  transition: all 0.5s;
}

.footer__contact--phone {
  position: relative;
}
.footer__contact--email {
  position: relative;
}
.footer__contact--phone::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -21px;
  background: url("./resources/icon/footer__phone-icon.svg") no-repeat;
  width: 15px;
  height: 15px;
}
.footer__contact--email::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -21px;
  background: url("./resources/icon/footer__email-icon.svg") no-repeat;
  width: 15px;
  height: 15px;
}
.footer__site-subscription {
}
.footer__subscription-title {
}
.subscription__btn {
}
.footer__anchor-main {
}
